<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片检索系统</title>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/css/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <h1>图片检索系统</h1>
    <div class="row" style="margin-top:20px">
        <div class="col-md-3">
            <form action="/insertNewImage" enctype="multipart/form-data" method="post">
                {% import "bootstrap/wtf.html" as wtf %}
                {{ wtf.quick_form(form) }}
            </form>
            <div style="margin-top:50px">
                <form action="/search" enctype="multipart/form-data" method="post">
                    {% import "bootstrap/wtf.html" as wtf %}
                    {{ wtf.quick_form(checkform) }}
                </form>
            </div>

        </div>
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <p>搜索结果</p>
            <div>
                <img src="/static/upload/1494496907.jpg" style="height:300px;width:500px"/>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:50px">
        <div class="col-md-3">

        </div>

    </div>

</div>
</body>
</html>