<!DOCTYPE html>
<html>

<head>
    <title>欢迎来到图片检索系统</title>
    <link rel='stylesheet' href='/static/css/bootstrap/css/bootstrap.min.css'/>
    <script src="/static/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/static/css/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="/static/js/login.js" type="text/javascript"></script>
</head>
<style>
.mainButton {
    margin: 40px;
    width: 130px;
    height: 40px;
    text-align: center;
}



</style>

<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">欢迎来到图片检索系统</a>
        </div>
    </div>
</nav>
<div class='container' style='margin-top: 80px'>
    <div class="col-md-3"></div>
    <div class='col-md-6' style="padding: 60px">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" placeholder="请输入用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="passwords" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="passwords" placeholder="请输入密码">
                </div>
            </div>
            <button type="button" class="btn btn-lg btn-primary" style="margin-left:100px" id="login">登陆</button>
        </form>
    </div>
    <div class="col-md-3"></div>

</div>


</body>

</html>